

#biggerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}


#container {
    display: flex;    
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 800px;
}

.column {
    border: black solid 1px; 
    width: 30px;
    height: 30px;
}


