#container {
    display: flex; 
    justify-content: center;
    align-items: center;
   height: 95vh;
}

.column {
    border: black solid 1px; 
    width: 30px;
    height: 30px;
}


@media only screen and (min-width: 320px) {
    .column {
        border: black solid 1px; 
        width: 1em;
        height: 1em;
    }
}
