
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    justify-content: space-around;
}

#btnPrompt {
    border-radius: 4px;
    padding: 10px; 
    background-color: rgb(125, 147, 160);
    color: white;
}

#container {
    display: flex;    
    width: 600px;
    height: 600px;
}

.column {
    display: flex;
    flex: 1 1 0;
    border: black solid 1px; 
}

.row {
    display: flex;
    flex-direction: column;
    flex: 1 1 0; 
}
